body{
    color: rgb(230, 227, 216);
    background-image: url(pexels-ketut-subiyanto-4350216.jpg);
    background-size: cover; /* Ensures the background image covers the entire background area */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat;
}
h1{
    text-align:end;
}

.emailme{
    color: rgb(254, 249, 243);

}
.list{
    list-style: none;
}
.list li{
    padding: 3px;
    transition: 300ms;
    text-align: center;
    size: 80px;
    display: flex;
    justify-content: space-around;
}
.list a:hover{
background-color: rgb(244, 242, 236);
}
.list a{
    padding: 8px;
    
    text-decoration: none;
    font-size: 30px;
    color: rgb(181, 137, 79);
    background-color: rgba(255, 255, 255, 0.7) ;
    border-radius: 4px;
}
.list a:hover{
    color: black;

}
a{
    color: rgb(254, 249, 243);
}