
.linkqcc{
    margin: 20px 0px;
    display: block;
    padding: 15px 50px;
    width: 30px;
    background: rgb(99, 9, 9);
    color: wheat;
    border-radius: 10px;
}
.colorcontainer{
    width: 300px;
    height: 300px;
    margin: 50px;
    /* border: solid 2px black; */
    padding: 30px;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
}   
.btncolor{
    border: none;
    margin: auto;
    padding: 10px;

}
.btnolive{
    border: none;
    margin: auto;
    padding: 10px;
}
.btnreset{
    border: none;
    margin: auto;
    padding: 10px;
}
.btnorange{
    border: none;
    margin: auto;
    padding: 10px;
}
/* Tuesday June 18
event object in key event */
.btnpressme{
    padding: 20px 50px;
    background-color: black;
    color: whitesmoke;
    border-radius: 12px;   
}
.btnpressme:hover{
    cursor: pointer; 
    background-color: red;
    font-size: 20px;
    border: none;
}
.btnactive{
    background-color: whitesmoke;
    font-size: 15px;
    color: black;
    border: none;
}


#listfruits li{
    padding: 12px;
    width: 200px;
    border: lightblue 1px solid;
    list-style: none;
}
#listfruits li:hover{
    background-color: red;

}

/* scroll event */
#content{
    width: 2000px;
    background-color: aqua;
    padding: 20px;
}

/* photo gallery */
.maincontainer, .gallery-container{
    width: 1000px;
    margin: auto;
}
.maincontainer{
    position: relative;
    /* first position, it will sit in the back of the other z-index that are > than 0 */
    z-index: 0;
}
/* index 0 will sit in the back index 1 in front of the 0 and so on 2 in front of 1...  */
.gallery-container{
    position: relative;
    z-index: 1;
    overflow-x: scroll;
    white-space: nowrap;
}
.gallery-img{
    margin-top: 30px;
    display: inline-block;
    width: 300px;
}
.btnright, .btnleft{
    position: absolute;
    z-index: 2;
    top: 170px;   
    background-color: rgba(0,0,0,0);
    color: rgb(255, 255, 255); 
    font-size: 30px;
    opacity: 0.5;

}
.btnright{
    right: 20px;
}
.btnleft{
left: 20px;
}
.btnright:hover , .btnleft:hover{
    opacity: 1;
}
/* to top */
html{
    scroll-behavior: smooth;
}
.gotop{
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.411);
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 3;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    color: white;
    transition: ease-in-out 0.5s;
    display: none;
}
.gotop a{
    text-decoration: none;
    color: black; 
}
.gotop:hover{
    box-shadow: 0px 0px 5px 2px;
    background-color: rgba(200,200,200,0.5);
}

/* Thursday 20 */
.greetings{
    display: none;
}
.divForm{
    /* margin: 500px auto; */
    padding: 10px;
}
#myform{
    background-color: aliceblue;
    box-shadow: 1px 1px 3px gray;
    border-radius: 10px;
    width: 600px;
    margin: 100px auto;
    padding: 20px;
}
.controlblock{
    margin-bottom: 20px;
}
.passwordmsg{
    color: gray;
    margin-top: -1;
}
.passqoederror{
    color: red;
}
.submitbutton{
    
    border-radius: 12px;
    background-color: rgb(217, 154, 154);
    padding: 15px;
    color: whitesmoke;
}
