body{
    padding-top: 70px;
}
.firstSection{
    /* border: 1px solid red; */
    padding: 20px;
    margin: 20px;
    /* background-color: #f8f9fa; */
    display: flex;
    flex-direction: column;
}
.row h1{
    text-align: center;
}

header{
    padding: 30px;
    background-image:  url(../img/trulli/pexels-pelageia-zelenina-58865108-8913999.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px; /* Added margin-bottom */

}
@media screen and (min-width: 500px){
    .h1Header{
        color: black;
    }
}
header h1{
    padding: 35px;
    margin: auto;
    text-align: center;
}
.coverImg{
    padding: 50px;
    display: flex;
flex-direction: column;
justify-content: space-around;
}
.h1Header{
    margin-top: 30px;
    text-decoration: none;
    color: whitesmoke;
}
.h1Header:hover{
    color: black;
    text-decoration: underline;
}
.spanTitle{
    color: red;
    font-size: 50px;
    text-decoration-thickness: 200ms;
}
.spanTitle:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.sectionArticle{
    /* border: solid 1px orange; */
    padding: 20px;
}
.sidecontainer{
    display: flex;
    justify-content: space-around;
    
}
.sidecontainer img{
    margin: 20px;
padding: 20px;    
border-radius: 8px;
overflow: hidden;}
article{
    text-align: center;
}
.testimonials{
    /* border: 1px green solid; */
    margin: 20px;
    padding: 30px;
}

.card{
    margin: 20px;
    transition: 300ms;
}
.card:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.card h3:hover{
    color: red;
    /* remember, to have the size changing effect use "transform" */
    transform: scale(1.2);
}

.contact{
    background-color: rgb(27, 32, 27);
    display: flex;
    /* justify-content: space-between; */
    padding: 20px;
}
.contactcolumn{
    width: 33%;
    color: whitesmoke;
    padding: 2em 3em;
}
.contactcolumn a{
    color: whitesmoke;

}
.policylinks{
    display: flex; 
    text-decoration: none;
    padding-top: 1px;
    font-size: small;
}
.socialink{
    width: 50px;
    display: inline;
    padding: 0.5em;
    opacity: 0.6;
    background-color: whitesmoke;
}
footer{
    margin-top: 15px;
    width: 100%;
    color: whitesmoke;
}
.socialink:hover{
    opacity: 1;
    background-color: whitesmoke;
}
.containerWhattodo{
    padding: 70px;
}
.containerWhattodo h1{
    text-align: center;
    margin-bottom: 1em;
}
.containerWhattodo a{
    text-decoration: none;
    color: black;
    transition: 300ms;
}
.containerWhattodo h1:hover{
    transform: scale(1.2);
}
.wheretostayimg{
    width: 160px;
    margin: auto;
    border-radius: 12px;
}
.bedbreak{
    display: flex;
    flex-direction: column;
}
