body{
    height: 200vh;
}

/* animation for the scroll-watcher */
/* .scroll-watcher{
    height: 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: lime;
    width: 100%;
    scale: 0 1;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}
@keyframes scroll-watcher {
    to{scale: 1 1;}
} */

/* img fading */
article > img{
    width: 300px;
    animation: fade-in linear;
    /* animation-timeline: view(); */
    animation-range-start: contain;
    animation-range-end:contain;
}

@keyframes fade-in{
    from{scale: .8; opacity: 0;}
    to { scale: 1; opacity: 1;}
}