.header{
    
    /* border: solid 1px red;  */
    /* we will prepare the layout positioning */
    display: flex;
    padding: 30px;
}
.headerlink{
    width: 20%;
    /* border: solid 1px green; */
    display: block;
    /* to make unicode bigger we need to change the font size */
    font-size: 50px;
    text-align: center;
    /* to remove the underline from the unicode */
    text-decoration: none;
    transition: ease-in-out 300ms;
}
.headerlink:hover{
    opacity: 0.6;
    transform: scale(1.1) translateX(-20px);
    /* translateX -> slides to the left */
}
.headertitle{
    width: 79%;
    /* border: solid 1px orange; */
    transition: ease-in-out 300ms;
    color: brown;
    text-align: center;
}
.headertitle:hover{
    transform: scale(1.1) translateX(-20px);
    font-size: 35px;
}
/* #### SITE LINKS #### */
.sitelinks{
    background-color: rgb(192, 25, 25);
    display: flex;
    justify-content: center;
}
.navlink{
    display: inline-block;
    padding: 1em 3em;
    /* border: solid 1px black; */
    color: whitesmoke;
}
.navlink:hover{
    background-color: whitesmoke;
    /* border-radius: 12px; */
    color: rgb(192, 25, 25)
}
/* #### Main body #### */
.mainbody{
    /* border: solid 1px green; */
    display: flex;
    flex-wrap: wrap;
}
.main_div{
    /* border: solid 1px orange; */
    /* the div will take 70% of the main space */
    width: 67%;
}
.pagelinks{
    /* border: solid 1px blue; */
    width: 30%;
}
.main_div section{
    /* background-color: rgb(243, 203, 129); */
    padding: 1em 2em;
}
.main_div article{
    /* background-color: greenyellow; */
    padding: 1em 2em;
}
/* #### PAGELINKS #### */
.pagelinks{
    padding: 1em;
}
.link_nav{
    border-bottom: 1px solid black;
    display: block;
    /* 1em is 12px */
    padding: 1em; 
    text-align: center;
    text-decoration: none;
}
.link_nav:hover{
    color: whitesmoke;
    background-color:  rgb(213, 87, 87);
    font-weight: 900;
}
aside h2{
    text-align: center;
}
img{
    width: 100%;
    display: block;
}
.figureimg{
    width: 80%;
    /* let's center the element */
    margin: auto;
    /* the element that has this "position relative" will become the parent , with this declaration this becomes the parent of the element that contains the "absolute position*/
    position: relative;
    box-shadow: 1px 1px 3px gray;
    border-radius: 20px;
    overflow: hidden;
}
.imgtitle{
    /* this is the "child" of the parent according to the position */
    position: absolute;
    /* 0 is all the way to the top */
    top: 40%;
    left: 40%;
    text-align: center;
    color: whitesmoke;
}
.imgtitle:hover{
    color: red;
    font-size: 30px;
}
/* #### FOOTER #### */
.contact{
    background-color: darkgreen;
    display: flex;
    /* justify-content: space-between; */
    padding: 20px;
}
.contactcolumn{
    width: 33%;
    color: whitesmoke;
    padding: 2em 3em;
}
.contactcolumn a{
    color: whitesmoke;

}
.policylinks{
    display: flex; 
    text-decoration: none;
    padding-top: 1px;
    font-size: small;
}
.socialink{
    width: 30px;
    display: inline;
    padding: 0.5em;
}